<div class="row text-center">
  <div class="panel-body">
    <a href="#musicMenu" class="btn btn-main btn-primary btn-lg" role="button">
      <span class="glyphicon glyphicon-music"></span>
      <br />Muzyka
    </a>
    <a href="#spendings" class="btn btn-main btn-danger btn-lg" role="button">
      <span class="glyphicon glyphicon-usd"></span>
      <br />Wydatki
    </a>
  </div>
</div>
