<div class="navbar navbar-inverse navbar-fixed-top center" role="navigation">
  <div class="navbar-collapse collapse">
    <a href="#" class="btn btn-default navbar-btn" role="button">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    <a href="#" class="btn btn-default navbar-btn" role="button">
      <span class="glyphicon glyphicon-volume-down"></span>
    </a> 
    <a href="#" class="btn btn-default navbar-btn" role="button">
      <span class="glyphicon glyphicon-volume-up"></span>
    </a>
  </div>
</div>

<div class="music-content">
<div class="row text-center">
  <div class="panel-body">
    <a href="#radio" class="btn btn-main btn-default btn-lg" role="button">Radio</a>
    <a href="#youtube" class="btn btn-main btn-default btn-lg" role="button">YouTube</a>
    <a href="#mp3" class="btn btn-main btn-default btn-lg" role="button">Mp3</a>
  </div>
</div>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom center" role="navigation">
  <div class="navbar-collapse collapse">
    <a href="#" class="btn btn-main btn-success navbar-btn" role="button">
      <span class="glyphicon glyphicon-play"></span>
    </a>
    <a href="#" class="btn btn-main btn-danger navbar-btn" role="button">
      <span class="glyphicon glyphicon-stop"></span>
    </a> 
  </div>
</div>
